/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/style.scss */
a {
  text-decoration: none;
  font-size: 16px;
}

/* line 14, ../sass/style.scss */
.wrap {
  max-width: 1000px;
  margin: 0 auto;
}

/* line 26, ../sass/style.scss */
.topbar {
  background-color: #F6F6F6;
  width: 100%;
  height: 30px;
}
/* line 30, ../sass/style.scss */
.topbar ul {
  float: right;
}
/* line 32, ../sass/style.scss */
.topbar ul li {
  margin: 8px;
  float: left;
  font-family: Microsoft JhengHei;
}
/* line 36, ../sass/style.scss */
.topbar ul li img {
  margin-right: 5px;
  float: left;
}
/* line 43, ../sass/style.scss */
.topbar .facebook a {
  color: #4460a0;
  border-right: 2px solid #cccccc;
  padding-right: 15px;
}
/* line 51, ../sass/style.scss */
.topbar .twitter img {
  margin-top: 2px;
}
/* line 54, ../sass/style.scss */
.topbar .twitter a {
  color: #49A9E6;
}
/* line 58, ../sass/style.scss */
.topbar a:hover {
  color: red;
}

/* line 70, ../sass/style.scss */
.brand {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  margin-top: 0 auto;
}
/* line 75, ../sass/style.scss */
.brand .logo {
  float: left;
}
/* line 77, ../sass/style.scss */
.brand .logo img {
  padding: 10px 0 5px 20px;
}
/* line 80, ../sass/style.scss */
.brand .logo p {
  position: fixed;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
}
/* line 88, ../sass/style.scss */
.brand .menu {
  position: absolute;
  max-width: 100%;
  right: 0;
  float: right;
  padding-top: 19px;
}
/* line 94, ../sass/style.scss */
.brand .menu ul li {
  float: left;
  margin-left: 40px;
  margin-right: 20px;
}
/* line 99, ../sass/style.scss */
.brand .menu li a {
  width: 130%;
  text-align: center;
  font-size: 14px;
  color: #5CC89C;
}
/* line 105, ../sass/style.scss */
.brand .menu li a:hover {
  border-bottom: 3px solid #5CC89C;
  padding-bottom: 15px;
}
/* line 110, ../sass/style.scss */
.brand .brandimg {
  padding-top: 3px;
  width: 100%;
}
/* line 115, ../sass/style.scss */
.brand .brandtext {
  background: RGBA(0, 0, 0, 0.1);
  width: 100%;
  height: 45%;
  position: absolute;
  bottom: 20%;
  color: white;
  margin-top: 13%;
  font-size: 35px;
  padding-top: 3%;
}
/* line 125, ../sass/style.scss */
.brand .brandtext h1 {
  padding-left: 2%;
  line-height: 140%;
  font-family: Microsoft JhengHei;
}

@media (max-width: 767px) {
  /* line 136, ../sass/style.scss */
  .menu ul li {
    float: left;
    /*margin-left: 20px;*/
    margin-right: 38px;
    margin-bottom: 40px;
  }

  /* line 142, ../sass/style.scss */
  .brandtext {
    height: 60px;
    font-size: 22px;
    margin-top: 32%;
    padding-top: 0;
  }
  /* line 147, ../sass/style.scss */
  .brandtext h1 {
    line-height: 28px;
  }
}
@media (max-width: 520px) {
  /* line 153, ../sass/style.scss */
  .brand {
    text-align: center;
  }
  /* line 155, ../sass/style.scss */
  .brand .brandtext {
    font-size: 20px;
  }
  /* line 158, ../sass/style.scss */
  .brand .logo img {
    display: none;
  }
  /* line 161, ../sass/style.scss */
  .brand .menu {
    position: relative;
    float: none;
    text-align: center;
  }
  /* line 167, ../sass/style.scss */
  .brand .menu ul {
    display: inline;
  }
  /* line 169, ../sass/style.scss */
  .brand .menu ul li {
    margin-left: 0;
    margin-right: 40px;
    margin-bottom: 18px;
  }
}
/* line 179, ../sass/style.scss */
.features {
  width: 100%;
  height: 400px;
  margin-bottom: 5%;
  margin-top: 7%;
  text-align: center;
  padding-left: 3%;
}
/* line 188, ../sass/style.scss */
.features span {
  float: left;
  width: 30.3333%;
  height: 90%;
  border: 1px solid RGBA(241, 241, 241, 1);
  text-align: center;
  margin-right: 3%;
  box-shadow: 0 4px 2px RGBA(221, 221, 221, 1);
  position: relative;
}
/* line 200, ../sass/style.scss */
.features p {
  position: absolute;
  top: 55%;
  left: 7%;
  right: 3%;
  text-align: left;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 20px;
  font-family: Microsoft JhengHei;
}
/* line 211, ../sass/style.scss */
.features ul {
  position: absolute;
  top: 61%;
  left: 17%;
  text-align: left;
  list-style: disc;
  line-height: 20px;
  font-size: 14px;
  font-family: Microsoft JhengHei;
}
/* line 221, ../sass/style.scss */
.features h2 {
  position: absolute;
  top: 45%;
  left: 22%;
  right: 22%;
  /*padding-top: 50px;*/
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: Microsoft JhengHei;
}
/* line 232, ../sass/style.scss */
.features .features2 img {
  padding-top: 20px;
}

@media (max-width: 829px) {
  /* line 238, ../sass/style.scss */
  .features {
    padding-left: 1%;
  }
  /* line 240, ../sass/style.scss */
  .features span {
    margin-right: 1%;
    width: 32.3333%;
  }
}
@media (max-width: 767px) {
  /* line 248, ../sass/style.scss */
  .features {
    display: block;
    padding-left: 20%;
    padding-right: 10%;
    padding-top: 10%;
  }
  /* line 253, ../sass/style.scss */
  .features span {
    width: 80%;
    margin-bottom: 10%;
  }
  /* line 257, ../sass/style.scss */
  .features h2 {
    position: absolute;
    top: 53%;
    left: 22%;
    right: 22%;
    /*padding-top: 50px;*/
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: Microsoft JhengHei;
  }
  /* line 268, ../sass/style.scss */
  .features p {
    position: absolute;
    top: 61%;
    left: 7%;
    right: 3%;
    text-align: left;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 20px;
    font-family: Microsoft JhengHei;
  }
  /* line 279, ../sass/style.scss */
  .features ul {
    position: absolute;
    top: 66%;
    left: 17%;
    text-align: left;
    list-style: disc;
    line-height: 20px;
    font-size: 14px;
    font-family: Microsoft JhengHei;
  }
}
@media (max-width: 480px) {
  /* line 294, ../sass/style.scss */
  .features span {
    height: 310px;
  }
  /* line 296, ../sass/style.scss */
  .features span h2 {
    top: 44%;
  }
  /* line 299, ../sass/style.scss */
  .features span p {
    top: 52%;
  }
  /* line 302, ../sass/style.scss */
  .features span ul {
    top: 62%;
  }
}
/* line 309, ../sass/style.scss */
.table {
  max-width: 100%;
}
/* line 311, ../sass/style.scss */
.table h1 {
  clear: both;
  font-size: 35px;
  text-align: center;
  font-family: Microsoft JhengHei;
}
/* line 317, ../sass/style.scss */
.table table {
  margin: 30px auto;
  width: 90%;
}
/* line 320, ../sass/style.scss */
.table table th {
  line-height: 50px;
  border-top: solid 1px RGBA(221, 221, 221, 1);
  border-bottom: solid 1px RGBA(221, 221, 221, 1);
  background: RGBA(247, 247, 247, 1);
  padding-left: 25px;
  font-family: Microsoft JhengHei;
}
/* line 328, ../sass/style.scss */
.table table td {
  border-bottom: solid 1px RGBA(221, 221, 221, 1);
  padding-left: 25px;
  line-height: 50px;
  font-family: Microsoft JhengHei;
}
/* line 336, ../sass/style.scss */
.table table tr .green {
  color: RGBA(73, 163, 128, 1);
}

@media (max-width: 767px) {
  /* line 344, ../sass/style.scss */
  .table h1 {
    font-size: 22px;
  }
  /* line 347, ../sass/style.scss */
  .table table th {
    line-height: 30px;
    font-size: 12px;
    padding-left: 5;
  }
  /* line 352, ../sass/style.scss */
  .table table td {
    line-height: 30px;
    font-size: 10px;
    padding-left: 5;
  }
}
/* line 361, ../sass/style.scss */
.contact {
  max-width: 100%;
  height: 400px;
  background: -webkit-linear-gradient(RGBA(42, 100, 78, 1), RGBA(66, 148, 116, 1), RGBA(66, 148, 116, 1));
  background: -moz-linear-gradient(RGBA(42, 100, 78, 1), RGBA(66, 148, 116, 1), RGBA(66, 148, 116, 1));
  background: -o-linear-gradient(RGBA(42, 100, 78, 1), RGBA(66, 148, 116, 1), RGBA(66, 148, 116, 1));
  background: linear-gradient(RGBA(42, 100, 78, 1), RGBA(66, 148, 116, 1), RGBA(66, 148, 116, 1));
  margin: 70px 0;
  position: relative;
}
/* line 370, ../sass/style.scss */
.contact .contacth {
  padding-top: 40px;
  color: white;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}
/* line 378, ../sass/style.scss */
.contact .contactd form .large {
  margin: 25px 0 0 20px;
  width: 45%;
  height: 250px;
  border-radius: 5px;
}
/* line 384, ../sass/style.scss */
.contact .contactd .right {
  position: absolute;
  margin-left: 52%;
  top: 35%;
  width: 43%;
}
/* line 389, ../sass/style.scss */
.contact .contactd .right input {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
}
/* line 395, ../sass/style.scss */
.contact .contactd .right .submit {
  float: right;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  color: white;
  background: RGBA(91, 200, 156, 1);
  cursor: pointer;
  border: 0 none;
}
/* line 405, ../sass/style.scss */
.contact .contactd .right .submit:horver {
  background: red;
}
/* line 409, ../sass/style.scss */
.contact .contactd p {
  color: white;
}

@media (max-width: 767px) {
  /* line 415, ../sass/style.scss */
  .contact {
    height: 600px;
  }
  /* line 417, ../sass/style.scss */
  .contact .contactd {
    width: 100%;
  }
  /* line 419, ../sass/style.scss */
  .contact .contactd form .large {
    width: 90%;
  }
  /* line 423, ../sass/style.scss */
  .contact .contactd .right {
    width: 90%;
    position: relative;
    margin-top: 10px;
    margin-left: 20px;
  }
  /* line 431, ../sass/style.scss */
  .contact .right p {
    margin-left: 42%;
  }
  /* line 434, ../sass/style.scss */
  .contact .right input[type="text"] {
    margin-left: 21%;
    width: 50%;
  }
  /* line 438, ../sass/style.scss */
  .contact .right input[type="submit"] {
    width: 100px;
    margin: 0;
    float: left;
    margin-left: 35%;
  }
}
@media (max-width: 480px) {
  /* line 448, ../sass/style.scss */
  .contact .right .submit {
    margin-left: 33%;
  }
}
/* line 452, ../sass/style.scss */
.footer {
  max-width: 100%;
  height: 50px;
  margin-bottom: 30px;
}
/* line 456, ../sass/style.scss */
.footer img {
  float: left;
  margin-left: 30px;
}
/* line 460, ../sass/style.scss */
.footer p {
  float: left;
  line-height: 25px;
}
/* line 464, ../sass/style.scss */
.footer .message {
  float: right;
}
/* line 466, ../sass/style.scss */
.footer .message .pink {
  color: RGBA(208, 66, 127, 1);
}

@media (max-width: 480px) {
  /* line 473, ../sass/style.scss */
  .footer {
    margin-left: 60px;
  }
  /* line 475, ../sass/style.scss */
  .footer .message {
    margin-top: 20px;
    float: left;
  }
}
/*@media(max-width:999px){
	.wrap{
    	width: 768px;
	}
	.features{
		height: 360px;
	}

	.features h2{
		font-size: 16px;
		top: 45%;
	}

	.features p{
		top: 55%;
		right: 3px;
		left: 3px;
	}

	.features ul{
		top: 62%;
	}

}*/
